@page "/table"

<h3>Table</h3>

<div class="table-responsive-sm">
    <table class="table table-hover table align-middle">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Name</th>
                <th scope="col">Title</th>
                <th scope="col">Status</th>
                <th scope="col">Position</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                    </div>
                </th>
                <td>
                    <div class="d-flex align-items-center">
                        <div class="img" style="background-image: /images/1.jpg"></div>
                        <img src="/images/1.jpg" class="img rounded-circle" style="width:45px; height:45px;">
                        <div class="ms-3">
                            <p class="fw-bold mb-1">John Doe</p>
                            <p class="text-muted mn-0">john.doe@gmail.com</p>
                        </div>
                    </div>
                </td>
                <td>
                    <p class="fw-normal mb-1">Software engineer</p>
                    <p class="text-muted mb-0">IT department</p>
                </td>
                <td>
                    <span class="badge rounded-pill bg-success ">Active</span>
                </td>
                <td>Senior</td>
                <td>
                    <button type="button" class="btn btn-link btn-sm">
                        Edit
                    </button>
                </td>
            </tr>

            <tr>
                <th scope="row">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                    </div>
                </th>
                <td>
                    <div class="d-flex align-items-center">
                        <img src="/images/2.jpg" class="rounded-circle" style="width:45px; height:45px;">
                        <div class="ms-3">
                            <p class="fw-bold mb-1">Alex Ray</p>
                            <p class="text-muted mn-0">alex.ray@gmail.com</p>
                        </div>
                    </div>
                </td>
                <td>
                    <p class="fw-normal mb-1">Consultant</p>
                    <p class="text-muted mb-0">Finance</p>
                </td>
                <td>
                    <span class="badge bg-primary rounded-pill d-inline-block">Onboarding</span>
                </td>
                <td>Junior</td>
                <td>
                    <button type="button" class="btn btn-link btn-sm">
                        Edit
                    </button>
                </td>
            </tr>

            <tr>
                <th scope="row">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                    </div>
                </th>
                <td>
                    <div class="d-flex align-items-center">
                        <img src="/images/3.jpg" class="rounded-circle" style="width:45px; height:45px;">
                        <div class="ms-3">
                            <p class="fw-bold mb-1">Kate Hunington</p>
                            <p class="text-muted mn-0">kate.hunington@gmail.com</p>
                        </div>
                    </div>
                </td>
                <td>
                    <p class="fw-normal mb-1">Designer</p>
                    <p class="text-muted mb-0">UI/UX</p>
                </td>
                <td>
                    <span class="badge bg-warning rounded-pill d-inline">Awaiting</span>
                </td>
                <td>Middle</td>
                <td>
                    <button type="button" class="btn btn-link btn-sm">
                        Edit
                    </button>
                </td>
            </tr>

            

        </tbody>
    </table>
</div>


@code {

}
